@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%);
}

body {
    background: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.carousel-item {
    height: 50vh; /* Half of the viewport height */
    background: no-repeat center center scroll;
    background-size: cover;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Ensures images cover the carousel area while maintaining aspect ratio */
}

.container {
    flex: 1; /* Allows content to grow and pushes footer to the bottom */
}

.card {
    background: #222;
    border: 1px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
}

.btn {
    border: 5px solid;
    border-image-slice: 1;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-image-source: var(--gradient);
    text-decoration: none;
    transition: all 0.4s ease;
}

.btn:hover, .btn:focus {
    background: var(--gradient);
    -webkit-background-clip: padding-box;
    -webkit-text-fill-color: #fff;
    border: 5px solid #fff;
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
}

html, body {
    height: 100%;
    background-color: #152733;
}

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.form-holder .form-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    border-radius: 10px;
    text-align: left;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}

.form-content label,
.was-validated .form-check-input:invalid~.form-check-label,
.was-validated .form-check-input:valid~.form-check-label {
    color: #fff;
}

.form-content input[type=text],
.form-content input[type=password],
.form-content input[type=email],
.form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    transition: all 0.3s ease;
    margin-top: 16px;
}

.btn-primary {
    background-color: #6C757D;
    outline: none;
    border: 0;
    box-shadow: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #495056;
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

.form-content textarea {
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    margin-bottom: 14px;
}

.form-content textarea:hover,
.form-content textarea:focus {
    background-color: #ebeff8;
    color: #8D8D8D;
}

.mv-up {
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback {
    color: #ff606e;
}

.valid-feedback {
    color: #2acc80;
}

footer {
    background-color: #222;
    color: rgba(250, 250, 250, 0.8);
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}
